name: Build and Test
on:
  push:
    branches:
      - master
  pull_request:
  
jobs:
          
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.22

      - name: Check out code
        uses: actions/checkout@v1

      - name: Run Unit tests.
        run: make test
